@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(255, 208, 186);
  text-align: center;
  color: rgb(128, 0, 0);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://as1.ftcdn.net/jpg/05/28/26/10/1000_F_528261085_IDIH06nSwPUlvd0RDqcDK9gs2kWoQybm.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



